.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    padding: 10px;
}

input {
    color: #006F83;

}

.navbar > .container .navbar-brand:hover {
    color: #FB8300;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FB8300;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    color: #FB8300;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FB8300;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #FB8300;

}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #FB8300;
    border: 4px solid;
}

.form-control {
    border: 2px  solid #FB8300;
    color: #006F83;
}

.btn-primary {
    background-color: #006F83;
}

h3 {
    color: #FB8300;
}

.form-horizontal .form-group {
    color: #FB8300;

}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

#img-border {
    border: 4px solid;
    background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}

h1 {
    font-size: 40px;
}

p.lead {
    font-size: 30px;
    font-weight: 900;
}

.navbar-default {
    background-color: #006F83;
}

.navbar-default .navbar-nav > li > a
 {
    color: #fff;
 }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #006F83;
    color: #fff;


}

.navbar-default .navbar-brand {
    color: #fff;
}
